<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <div th:replace="fragments/header-config-fragment :: meta-info-fragment"></div>

</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">

    <!-- NAVBAR -->
    <div th:replace="fragments/admin-nav-bar-fragment :: nav-bar-fragment"></div>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <nav>
            <ul class="nav" id="sidebar-nav-menu">

                <li><a th:href="@{/}"><i class="ti-dashboard"></i> <span class="title">Home</span></a></li>

                <li class="menu-group">Students</li>
                <li class="panel">
                    <a href="#student" data-toggle="collapse" data-parent="#sidebar-nav-menu" aria-expanded="" class=""><i
                            class="ti-panel"></i> <span class="title">Students</span> <i
                            class="icon-submenu ti-angle-left"></i></a>
                    <div id="student" class="collapse ">
                        <ul class="submenu">
                            <li><a th:href="@{students}" class="">All Students</a></li>
                            <li><a th:href="@{new-student}" class="active">New Student</a></li>
                        </ul>
                    </div>
                </li>

                <li class="menu-group">Sessions</li>
                <li class="panel">
                    <a href="#session" data-toggle="collapse" data-parent="#sidebar-nav-menu" aria-expanded="" class=""><i
                            class="ti-panel"></i> <span class="title">Sessions</span> <i
                            class="icon-submenu ti-angle-left"></i></a>
                    <div id="session" class="collapse ">
                        <ul class="submenu">
                            <li><a th:href="@{sessions}" class="">All Sessions</a></li>
                            <li><a th:href="@{new-session}">New Session</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
            <button type="button" class="btn-toggle-minified" title="Toggle Minified Menu"><i
                    class="ti-arrows-horizontal"></i></button>
        </nav>
    </div>
    <!-- END LEFT SIDEBAR -->

    <!-- MAIN -->
    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Register Student</h3>
                </div>
                <div class="card-body">
                    <form id="student-form">
                        <div class="form-group row">
                            <label for="firstname" class="col-sm-3 col-form-label">First
                                Name*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lastname">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-3  col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password">
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg d-block mx-auto" id="student_register_btn">
                            <i class="fa fa-check-circle"></i> <span>Register</span></button>
                    </form>
                </div>

            </div>



        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN -->
    <!-- footer -->
    <footer>
        <div th:replace="fragments/footer-fragment :: footer-fragment"></div>
    </footer>
    <!-- end footer -->

</div>
<!-- END WRAPPER -->

<!--base script fragment-->
<div th:replace="fragments/base-script-fragments :: base-script-js"></div>
<script type="application/javascript" th:src="@{/dist/js/template-pages/student-controller.js}"></script>

</body>

</html>