<nav class="navbar navbar-expand fixed-top" th:fragment="nav-bar-fragment">
    <div class="navbar-brand d-none d-lg-block">
<!--        <a href="index.html"><img src="../static/dist/images/pages/viva_shield_logo_128.png" alt="" class="img-fluid logo"></a>-->
        <a href="" class="text-white">Viva Shield Admin</a>
    </div>
    <div class="container-fluid p-0">
        <button id="tour-fullwidth" type="button" class="btn btn-default btn-toggle-fullwidth"><i class="ti-menu"></i></button>

        <div id="navbar-menu">
        </div>
    </div>
</nav>