<div th:fragment="base-script-js">
    <!-- Vendor -->
    <script th:src="@{/dist/js/vendor.min.js}"></script>

    <!-- Plugins -->

<!--    <script th:src="@{/dist/plugins/jquery-jeditable/jquery.jeditable.min.js}"></script>-->
    <script th:src="@{/dist/plugins/jquery.maskedinput/jquery.maskedinput.js}"></script>
<!--    <script th:src="@{/dist/plugins/jquery-jeditable/jquery.jeditable.masked.min.js}"></script>-->
    <script th:src="@{/dist/plugins/jquery-ui/jquery-ui.min.js}"></script> <!-- required by datepicker plugin -->
<!--    <script th:src="@{/dist/plugins/jquery-jeditable/jquery.jeditable.datepicker.min.js}"></script>-->
    <script th:src="@{/dist/plugins/jqvmap/jquery.vmap.min.js}"></script>
    <script th:src="@{/dist/plugins/jqvmap/maps/jquery.vmap.world.js}"></script>
    <script th:src="@{/dist/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.canvaswrapper.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.colorhelpers.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.saturated.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.browser.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.drawSeries.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.uiConstants.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.legend.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.hover.js}"></script>
    <script th:src="@{/dist/plugins/flot/jquery.flot.time.js}"></script>
    <script th:src="@{/dist/plugins/jquery.flot.tooltip/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/dist/plugins/justgage/raphael.min.js}"></script>
    <script th:src="@{/dist/plugins/justgage/justgage.min.js}"></script>

    <script th:src="@{/dist/plugins/jquery.appear/jquery.appear.js}"></script>
    <script th:src="@{/dist/plugins/jquery-sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/dist/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/dist/plugins/bootstrap-tour/bootstrap-tour-standalone.js}"></script>



    <!-- App -->
    <script th:src="@{/dist/js/app.min.js}"></script>
</div>