<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="/fragments/header-config-fragment :: meta-info-fragment">

</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">

    <!-- NAVBAR -->
    <div th:replace="/fragments/admin-nav-bar-fragment :: nav-bar-fragment"></div>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <nav>
            <ul class="nav" id="sidebar-nav-menu">

                <li><a th:href="@{/}" class="active"><i class="ti-dashboard"></i> <span class="title">Home</span></a></li>

                <li class="menu-group">Students</li>
                <li class="panel">
                    <a href="#student" data-toggle="collapse" data-parent="#sidebar-nav-menu" aria-expanded="" class=""><i class="ti-panel"></i> <span class="title">Students</span> <i class="icon-submenu ti-angle-left"></i></a>
                    <div id="student" class="collapse ">
                        <ul class="submenu">
                            <li><a th:href="@{view/students}" class="">All Students</a></li>
                            <li><a th:href="@{view/add-student}" class="">All Students</a></li>
                        </ul>
                    </div>
                </li>

                <li class="menu-group">Sessions</li>
                <li class="panel">
                    <a href="#session" data-toggle="collapse" data-parent="#sidebar-nav-menu" aria-expanded="" class=""><i class="ti-panel"></i> <span class="title">Sessions</span> <i class="icon-submenu ti-angle-left"></i></a>
                    <div id="session" class="collapse ">
                        <ul class="submenu">
                            <li><a th:href="@{view/sessions}" class="">All Sessions</a></li>
                            <li><a th:href="@{view/new-session}"  class="">Add Session</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
            <button type="button" class="btn-toggle-minified" title="Toggle Minified Menu"><i class="ti-arrows-horizontal"></i></button>
        </nav>
    </div>
    <!-- END LEFT SIDEBAR -->

    <!-- MAIN -->
    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">


            <div class="container-fluid">
                <div class="">
                    <!-- RECENT PURCHASES -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All Sessions</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable-basic" class="table table-hover table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Evaluator</th>
                                        <th>Session ID</th>
                                        <th>Session Name</th>
                                        <th>Start Date</th>
                                        <th>Start Time</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="sessionTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END RECENT PURCHASES -->
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <!-- footer -->
    <footer>
        <div th:replace="fragments/footer-fragment :: footer-fragment"></div>
    </footer>
    <!-- end footer -->

</div>
<!-- END WRAPPER -->
<div th:replace="fragments/base-script-fragments :: base-script-js"></div>
<script th:src="@{dist/plugins/chart.js/Chart.min.js}"></script>
<script th:src="@{dist/plugins/chartist/chartist.min.js}"></script>
<script th:src="@{dist/plugins/easy-pie-chart/jquery.easypiechart.min.js}"></script>
<!-- Init -->
<!--base script fragment-->
<script th:src="@{dist/js/pages/dashboard3.init.js}"></script>

<script  type="application/javascript" th:src="@{/dist/js/template-pages/session-controller.js}" ></script>
</body>

</html>