<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="/fragments/header-config-fragment :: meta-info-fragment">

</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">

    <!-- NAVBAR -->
    <div th:replace="/fragments/admin-nav-bar-fragment :: nav-bar-fragment"></div>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <nav>
            <ul class="nav" id="sidebar-nav-menu">

                <li><a th:href="@{/}" class="active"><i class="ti-dashboard"></i> <span class="title">Home</span></a></li>

                <li class="menu-group">Students</li>
                <li class="panel">
                    <a href="#student" data-toggle="collapse" data-parent="#sidebar-nav-menu" aria-expanded="" class=""><i class="ti-panel"></i> <span class="title">Students</span> <i class="icon-submenu ti-angle-left"></i></a>
                    <div id="student" class="collapse ">
                        <ul class="submenu">
                            <li><a th:href="@{view/students}" class="">All Students</a></li>
                            <li><a th:href="@{view/add-student}" class="">All Students</a></li>
                        </ul>
                    </div>
                </li>

                <li class="menu-group">Sessions</li>
                <li class="panel">
                    <a href="#session" data-toggle="collapse" data-parent="#sidebar-nav-menu" aria-expanded="" class=""><i class="ti-panel"></i> <span class="title">Sessions</span> <i class="icon-submenu ti-angle-left"></i></a>
                    <div id="session" class="collapse ">
                        <ul class="submenu">
                            <li><a th:href="@{view/sessions}" class="">All Sessions</a></li>
                            <li><a th:href="@{view/new-session}"  class="">Add Session</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
            <button type="button" class="btn-toggle-minified" title="Toggle Minified Menu"><i class="ti-arrows-horizontal"></i></button>
        </nav>
    </div>
    <!-- END LEFT SIDEBAR -->

    <!-- MAIN -->
    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">


            <div class="container-fluid">
                <div class="">
                    <!-- RECENT PURCHASES -->
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3 class="card-title">Recent Sessions</h3>
<!--                            <div class="right">-->
<!--                                <span class="link"><i class="fa fa-shopping-bag"></i> <a href="#">View all purchases</a></span>-->
<!--                            </div>-->
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-minimal table-fullwidth table-striped">
                                    <thead>
                                    <tr><th>ORDER NO.</th><th>NAME</th><th>AMOUNT</th><th>DATE &amp; TIME</th><th>STATUS</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="#">763648</a></td>
                                        <td>Steve</td><td>$122</td>
                                        <td>Oct 21, 2016 &nbsp;&nbsp;<span class="text-muted">10:23 AM</span></td>
                                        <td><span class="badge badge-success">COMPLETED</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763649</a></td>
                                        <td>Amber</td><td>$62</td>
                                        <td>Oct 21, 2016 &nbsp;&nbsp;<span class="text-muted">10:18 AM</span></td>
                                        <td><span class="badge badge-warning">PENDING</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763650</a></td>
                                        <td>Michael</td><td>$34</td>
                                        <td>Oct 18, 2016 &nbsp;&nbsp;<span class="text-muted">09:22 AM</span></td>
                                        <td><span class="badge badge-danger">FAILED</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763651</a></td>
                                        <td>Roger</td><td>$186</td>
                                        <td>Oct 17, 2016 &nbsp;&nbsp;<span class="text-muted">08:47 AM</span></td>
                                        <td><span class="badge badge-success">COMPLETED</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763652</a></td>
                                        <td>Smith</td><td>$362</td>
                                        <td>Oct 16, 2016 &nbsp;&nbsp;<span class="text-muted">11:18 PM</span></td>
                                        <td><span class="badge badge-success">COMPLETED</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763651</a></td>
                                        <td>Claudia</td><td>$112</td>
                                        <td>Oct 15, 2016 &nbsp;&nbsp;<span class="text-muted">10:08 PM</span></td>
                                        <td><span class="badge badge-success">COMPLETED</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763650</a></td>
                                        <td>Simon</td><td>$285</td>
                                        <td>Oct 15, 2016 &nbsp;&nbsp;<span class="text-muted">09:42 PM</span></td>
                                        <td><span class="badge badge-warning">PENDING</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END RECENT PURCHASES -->
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <!-- footer -->
    <footer>
        <div th:replace="fragments/footer-fragment :: footer-fragment"></div>
    </footer>
    <!-- end footer -->

</div>
<!-- END WRAPPER -->
<div th:replace="fragments/base-script-fragments :: base-script-js"></div>
<script th:src="@{dist/plugins/chart.js/Chart.min.js}"></script>
<script th:src="@{dist/plugins/chartist/chartist.min.js}"></script>
<script th:src="@{dist/plugins/easy-pie-chart/jquery.easypiechart.min.js}"></script>
<!-- Init -->
<!--base script fragment-->
<script th:src="@{dist/js/pages/dashboard3.init.js}"></script>
</body>

</html>